#{
#  local_certs
#}

api.adoptpets.click {
    tls o.gumbar56@gmail.com

    @options {
        method OPTIONS
    }

    header {
        Access-Control-Allow-Origin *
        Access-Control-Allow-Credentials true
        Access-Control-Allow-Methods *
        Access-Control-Allow-Headers *
        defer
    }   
    
    reverse_proxy * api:8080 {
        header_down -Access-Control-Allow-Origin
    }

    respond @options 204
}
